body {
  background-color: rgb(89, 235, 76);
}

div > .jumbotron {
  margin-top: 2%;
  background-color: #0bcafa;
  margin-top: 50px;
  height: 300px;
}
h1 {
  color: #000000;
  font-size: 100px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
}
h1 span {
  transition: 0.5s linear;
}
h1:hover span:nth-child(1) {
  margin-right: 5px;
}
h1:hover span:nth-child(1):after {
  content: "'";
}
h1:hover span:nth-child(2) {
  margin-left: 30px;
}
h1:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
/*made with â¤, by qpi65*/

.center {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.heading {
  align-items: center;
}
.st2 {
  text-align: center;
  padding: 10px;
  margin: 2%;
  color: #be3e3e;
}
.btn {
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #2552e4;
}
.nav-link {
  color: #ffece5;
}

.navbar-brand {
  color: #ffece5;
}

.navbar-brand:hover {
  color: #575757;
}

.nav-link:hover {
  color: #666666;
}

.jumbotron {
  color: #666666;
}

div > .col-sm {
  color: #666666;
}

.st4 {
  width: 50%;
  margin: auto;
}
.vid {
  width: 100%;
  height: 625px;
}
.img-box {
  margin-top: 20px;
  width: 100%;
  height: 600px;
}
table.thead.tr.th {
  background-color: #be3e3e;
}

#al {
  margin-top: 30px;
}

div.card-header {
  background-color: #ff884d;
  color: #ffece5;
}

div.card-body {
  background-color: #ffece5;
  color: #575757;
}

@media (max-width: 1200px) {
  .vid {
    width: 100%;
    height: 523px;
  }
}

@media (max-width: 992px) {
  .vid {
    width: 100%;
    height: 388px;
  }
}

@media (max-width: 763px) {
  .vid {
    width: 100%;
    height: 287px;
  }
}
@media (max-width: 576px) {
  .vid {
    width: 100%;
    height: 297px;
  }
}
